body {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid black;
    width: 32rem;
    height: 32rem;
    margin: 8rem 35rem;
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
    border: 0.1px solid black;
    width: 1.9rem;
    height: 1.9rem;
}

#clear-btn {
    background-color: yellow;
    padding: 1rem;
    position: absolute;
    top: 25rem;
    left: 10rem;
}